#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    flex: 1;
    margin-right: 10px;
}

.input-group input {
    flex: 2;
    width: 100%;
    /* ทำให้ความยาวของ Input เต็มขอบ */
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    margin-bottom: 10px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}